.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
	padding-right: 22%;
	padding-left: 22%;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}

.logo {
	width: 3.5rem;
	height: 3.5rem;
}

.avatar {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.account {
	display: flex;
	flex-direction: column;
	margin-right: 1rem;
	text-align: right;
}

.username {
	font-style: italic;
	color: #646464;
}

/* mobile */
@media (max-width: 767px) {
	.header {
		padding-right: 5%;
		padding-left: 5%;
	}
}
/* ipad */
@media (min-width: 768px) and (max-width: 991px) {
}
/* ipad pro */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* desktop */
@media (min-width: 1200px) {
}
