.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #29b363;
	height: 18rem;
	color: #fff;
	text-align: center;
}

.title {
	font-size: 2.4rem;
	font-weight: 500;
	padding-bottom: 1rem;
}

/* mobile */
@media (max-width: 767px) {
	.title {
		font-size: 2rem;
	}
}
/* ipad */
@media (min-width: 768px) and (max-width: 991px) {
}
/* ipad pro */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* desktop */
@media (min-width: 1200px) {
}
